<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zxtx.sjd">

    <application
        android:name="com.zxtx.sjd.application.SJDApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/MarriageTheme.Base"
        android:usesCleartextTraffic="true"
        tools:replace="android:allowBackup,android:icon,android:label,android:theme">
        <!-- 全面屏 -->
        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity android:name="com.zxtx.sjd.module.home.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.zxtx.sjd.module.main.WorldIslandMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.statuslayout.StatusLayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.customstatuslayout.CustomStatusLayout1Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.customstatuslayout.CustomStatusLayout2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.interior.InteriorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.customtoolbar.CustomToolbarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.list.ListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.dialog.CommonAlertDialogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.container.ContainerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.widget.WidgetActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.tablayout.TablayoutActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.swipe.SwipeMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.web.CommonWebActivity"
            android:configChanges="orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.roundimageview.ShapealeImageViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.loadingview.LoadingViewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.viewpager2.DragActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.module.viewpager2.ViewPager2Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.zxtx.sjd.util.zxing.ScanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".demo.TouchActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>